* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  font-family: Arial;
}

table {
  margin: 60px auto;
}

.main-cell {
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 2px 2px 2px rgb(255 255 255 / 26%), -2px -2px 5px rgb(0 0 0 / 87%);
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 1px 1px 1px #000, 1px 1px 2px white;
  background-color: rgba(0, 128, 128, 0.6);
}

.main-cell:hover {
  outline: 3px solid black;
  border-radius: 4px;
  border-color: rgba(0, 0, 0, 0.1);
  transform: scale(1.1);
  z-index: 1;
}
.below {
  background-color: lightblue;
  padding: 15px;
  border: 2px solid rgb(79, 22, 126);
}

.aside {
  padding: 15px;
  background-color: lightcyan;
  border: 2px solid rgb(10, 67, 151);
  text-shadow: 1px 0.5px 0.5px #000;
}

.aside:hover {
  background-color: darkolivegreen;
}

label {
  margin: 10px;
}

input {
  width: 90px;
  height: 30px;
  margin-right: 30px;
  margin-top: 30px;
  font-size: inherit;
}

.hilight {
  padding: 15px;
  background-color: rgb(195, 231, 195);
}
button {
  background-color: ghostwhite;
  font-size: inherit;
  padding: 15px;
  margin: 20px 10px 5px 20px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

button:hover {
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  transform: translateY(-5px);
}

.percentage {
  background-color: #808000;
}
