.App {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}
table {
  margin: 60px auto;
}
td {
  padding: 30px;
  border: 2px solid darkolivegreen;
  background-color: darkseagreen;
}
.below {
  background-color: lightblue;
}

.aside {
  background-color: lightcyan;
}
